.HeaderContainer {
    position: relative;
    background-color: white;
    display: flex;
    height: auto;
    width: 72.65rem;
    padding: 1rem 0rem;
}
.img1 {
    width: 20%;
    height: 100%;
    background-color: white;
}
.img1 img {
    height: 6.25rem;
    width: 6.25rem;
    }

.Heading {
    height: 7.5rem;
    padding: 1rem 0rem;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.img2 {
    width: 20%;
    height: 100%;
    background-color: white;
}
.img2 img {
    height: 6.25rem;
    width: 6.25rem;
}