.Corousel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.15rem;
    height: 36.375rem;
    width: 100vw;
}
.Corousel img {
    height: 100%;
    width: 100%;
}